.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  justify-content: center;
}

@include sass-themify() {
  .sidenav {
    background-color: sass-themify-get-color('sidenav-bg');
  }
}
