.topnav {
  min-height: 0 !important;
  height: 40px;
  width: auto; 
  padding-right: 180px; 
  //left: 100px; 
  //position: fixed; 

  .topnav-navitem {
    display: flex;
    align-items: center;
    padding: 10px; 
  }
}

@include sass-themify() {
  .topnav {
    background-color: sass-themify-get-color('topnav-bg');
  }
}
