.linkedul-list {
  list-style: none;
  padding: 0;
  margin-left: 25px;
  font-size: 12px;
}

.linkedul-li {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 10px;
  position: relative;

  .linkedul-li-bullet {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 10px;
  }

  .linkedul-li-bullet:before {
    content: '';
    position: absolute;
    left: 2px;
    top: 80%;
    height: 90%;
  }

  .linkedul-li-content {
    @include ellipsis-truncate;
  }
}

.linkedul-li:last-child .linkedul-li-bullet:before {
  content: none;
}
