.navlink {
  font-weight: 400;
  font-size: 16px;

  .navlink-icon {
    margin-right: 10px;
    width: 18px;
  }
}

@include sass-themify() {

  .navlink {
    color: sass-themify-get-color('sidenav-fg');
  }

  .navlink-active {
    color: sass-themify-get-color('sidenav-active');
  }

  .navlink-icon {
    color: sass-themify-get-color('sidenav-icon');
  }

  .navlink-icon-active {
    color: sass-themify-get-color('sidenav-icon-active');
  }

  .navlink:hover .navlink-icon {
    color: sass-themify-get-color('sidenav-icon-active');
  }
}
