.register {
  small {
    margin-left: 5px;
  }

  .register-password {
    margin-bottom: 7px;
  }

  .btn-submit {
    display: flex;

    .spinner-login {
      display: inline-block;
      margin-left: 10px;
    }
  }
}

.ReactPasswordStrength {
  border: none;
  font-family: $font-default;
}

.ReactPasswordStrength-strength-desc {
  display: none;
}

.ReactPasswordStrength-strength-bar {
  margin: 7px 5px 0 5px;
  max-width: 98% !important;
}

@include sass-themify() {
  .ReactPasswordStrength.is-strength-2, .ReactPasswordStrength.is-strength-3 {
      .ReactPasswordStrength-strength-bar {
      background-color: sass-themify-get-color('accent');
    }
  }
}
