.share {
  font-family: 'Open Sans', sans-serif;
  color: #0F0E17;
  padding: 10%;
}

.share .logo {
  width: 200px;
  height: 200px;
}

.share .name {
  font-weight: 700;
  font-size: 32pt;
}

.share .bio {
  padding-top: 20px;
}

.share .row {
  margin-left: 0;
  margin-right: 0;
}

.share .name, .share .bio, .share .links {
  padding-left: 20px;
}

.share .btn-link {
  padding: 10px 0;
  text-transform: none;
  color: #747474;
}

.share .links>a {
  margin-right: 20px;
}

.share .project {
  margin-top: 100px;
}

.share .project .date {
  font-weight: 700;
  color: #747474;
  margin-top: 15px;
}

.share .project .title {
  font-weight: 700;
  font-size: 24pt;
}

.share .project .description {
  margin-top: 20px;
}

.share .project .links {
  padding: 0;
}

.share hr {
  width: 100%;
  border-top: 3px solid #e4e4e4;
  border-radius: 1%;
}
