.share {
  font-family: 'Open Sans', sans-serif;
  padding: 36px;

  .share-section {
    margin-bottom: 40px;
  }

  // Remove when ContentItem is replaced
  .showcase-item {
    max-width: 500px;
    display: inline-block;
    vertical-align: middle;
    
    .contentitem {
      .contentitem-description, .contentitem-title {
        @include ellipsis-truncate;
      }

      .contentitem-footer, .contentitem-menu {
        display: none;
      }
    }
  }
}
