.share {
  font-family: 'Open Sans', sans-serif;
  padding: 36px;

  .share-showcase {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;

    .share-showcase-item {
      max-width: 500px;
      display: inline-block;
      vertical-align: middle;

      // Remove when ContentItem is replaced
      .contentitem {
        .contentitem-description, .contentitem-title {
          @include ellipsis-truncate;
        }
  
        .contentitem-footer, .contentitem-menu {
          display: none;
        }
      }
    }
  }
}
